<div class="w-full h-full flex flex-col items-center justify-center gap-3">
  @if (isLoading()) {
  <div class="w-full h-full fixed top-0 left-0 bg-gray-300 flex items-center justify-center opacity-60"
    [style.z-index]="1001"></div>
  <div class="w-full h-full fixed top-0 left-0 bg-transparent flex items-center justify-center" [style.z-index]="1002">
    <div class="spinner-color-loop">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  }
  <div class="flex flex-col items p-0 md:p-20 md:shadow-lg md:border-2 md:border-gray-200 md:rounded-lg gap-5">
    <div class="flex flex-col items-center justify-center">
      <img class="w-52 h-auto object-contain" src="assets/images/logo_neutral.svg" />
    </div>
    <form [formGroup]="loginFrom" (ngSubmit)="handleLogin()"
      class="flex flex-col items-stretch justify-center gap-5 p-3">
      <div class="w-full md:w-[350px] flex flex-col items-stretch justify-start gap-1">
        <span class="font-semibold">Email:</span>
        <mat-form-field floatLabel="auto" appearance="outline">
          <input matInput formControlName="email" class="w-full" placeholder="Nhập email" />
          <mat-icon matPrefix>person_outline</mat-icon>
        </mat-form-field>
      </div>
      <div class="w-full md:w-[350px] flex flex-col items-stretch justify-start gap-1">
        <span class="font-semibold">Mật khẩu:</span>
        <mat-form-field floatLabel="auto" appearance="outline">
          <input matInput formControlName="password" class="w-full" placeholder="Nhập mật khẩu"
            [type]="loginFrom.value['showPassword'] ? 'text' : 'password'" />
          <mat-icon matPrefix>vpn_key</mat-icon>
          <mat-icon matSuffix class="cursor-pointer" (click)="
              loginFrom.controls['showPassword'].setValue(
                !loginFrom.value['showPassword']
              )
            ">
            {{
            loginFrom.value["showPassword"] ? "visibility" : "visibility_off"
            }}
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="flex items-center justify-center py-3">
        <button type="submit" class="w-full text-center bg-primary text-white border-none border-round">
          Đăng nhập
        </button>
      </div>
    </form>
  </div>
</div>