<div class="flex-1 flex flex-col items-stretch justify-start overflow-auto gray-500-scroll gap-3">
    <div class="flex items-center justify-between px-4">
        <div class="flex-1 flex flex-col md:flex-row items-center justify-start gap-3">
            <h1 class="text-2xl font-bold">Danh sách loại thiết bị</h1>
            <form [formGroup]="filterForm" class="flex flex-col md:flex-row items-center justify-start gap-3">
                <mat-form-field appearance="outline" floatLabel="auto" class="w-full md:w-[300px]">
                    <input matInput formControlName="keyword" placeholder="Nhập để tìm kiếm" />
                </mat-form-field>
            </form>
        </div>
        <button
            class="p-3 flex items-center justify-center gap-2 px-3 bg-primary text-white rounded border border-gray-400"
            (click)="onAddEditDeviceType()">
            <mat-icon class="text-white">add</mat-icon>
            Thêm loại thiết bị
        </button>
    </div>
    <app-table
        class="flex-1 flex flex-col items-stretch justify-start overflow-auto bg-white rounded-md border border-gray-400 p-4"
        [columns]="displayedColumns" [dataSource]="dataSource" [pagination]="pagination"
        (pageChange)="onPageChange($event)">
    </app-table>
</div>

<ng-template myTemplate tempCode="actionColumnTemplate" let-item="item">
    <div class="flex items-center justify-center px-4 gap-3">
        <button class="flex items-center justify-center border-none bg-transparent" (click)="onAddEditDeviceType(item)">
            <mat-icon class="text-gray-500">drive_file_rename_outline</mat-icon>
        </button>
        <button class="flex items-center justify-center border-none bg-transparent" (click)="onDeleteDeviceType(item)">
            <mat-icon class="text-red-500">delete</mat-icon>
        </button>
    </div>
</ng-template>

<!-- Dialog Template -->
<ng-template #deviceTypeDialogContent>
    @if(dialogData.type === 'default'){
    <form [formGroup]="deviceTypeForm" class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
            <label class="require">Tên loại thiết bị</label>
            <mat-form-field appearance="outline" floatLabel="auto">
                <input matInput formControlName="name" placeholder="Nhập tên loại thiết bị">
            </mat-form-field>
        </div>
        <div class="flex flex-col gap-1">
            <label class="require">Mã loại thiết bị</label>
            <mat-form-field appearance="outline" floatLabel="auto">
                <input matInput formControlName="code" placeholder="Nhập mã loại thiết bị">
            </mat-form-field>
        </div>
        <div class="flex flex-col gap-1">
            <label class="require">Số node</label>
            <mat-form-field appearance="outline" floatLabel="auto">
                <input matInput formControlName="switchCount" placeholder="Nhập số node">
            </mat-form-field>
        </div>
    </form>

    <div class="flex items-center justify-center gap-4 pt-3">
        <button class="flex items-center justify-center bg-white border border-gray-400 rounded px-3 py-2"
            (click)="onCancel()">
            Hủy
        </button>
        <button
            class="flex items-center justify-center border border-transparent rounded text-white px-3 py-2 bg-primary"
            (click)="saveNewDeviceType()">
            Lưu
        </button>
    </div>
    }@else if (dialogData.type === 'error'){
    <p class="w-full text-center">
        Bạn có chắc chắn muốn xóa loại thiết bị này không?
    </p>
    }
</ng-template>