<div class="flex-1 flex flex-col items-stretch justify-start overflow-auto gray-500-scroll">
    @if(!commonService.smallScreen()){
    <table
      #table
      mat-table
      [dataSource]="dataSource"
      class="max-h-full max-w-full table-line-form overflow-auto"
      multiTemplateDataRows
    >
      <!-- Expand Column -->
      @if(expandable) {
        <ng-container matColumnDef="expand">
          @if(showHeader) {
            <th
              mat-header-cell
              *matHeaderCellDef
              style="background-color: #f1f5f9 !important; width: 60px;"
            >
              <div class="h-[40px] w-full flex items-center justify-center break-words border-t border-[#c0c7d0]">
                
              </div>
            </th>
          }
          <td mat-cell *matCellDef="let element" style="width: 60px;">
            <div class="h-[40px] w-full flex items-center justify-center">
              <button
                mat-icon-button
                class="!w-9 !h-9 !p-1.5"
                (click)="toggleRow(element); $event.stopPropagation()"
                aria-label="expand row"
              >
                <mat-icon>
                  {{ expandedElement === element ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
                </mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
      }

      @for(column of columns; track column.field; let i = $index) {
      <ng-container
        matColumnDef="{{ column.field }}"
        [sticky]="column.sticky"
        [stickyEnd]="column.stickyEnd"
      >
        @if(showHeader) {
          <th
            mat-header-cell
            *matHeaderCellDef
            [ngClass]="column.className"
            style="background-color: #f1f5f9 !important;"
          >
            <div class="h-[40px] w-full flex items-center justify-center break-words border-t border-[#c0c7d0]">
              {{ column.name }}
            </div>
          </th>
        }
        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="column.tdClassName"
        >
        <div class="h-[40px] w-full flex items-center justify-center break-words" [ngClass]="column.tdClassName">
            @if(!column?.template) {
              @switch(column.type) {
                  @case(TableColumnType.NUMBER) {
                      {{ element[column.field] | number }}
                  }
                  @case(TableColumnType.DATE) {
                      {{ element[column.field] | date:'dd/MM/yyyy' }}
                  }
                  @case(TableColumnType.DATE_TIME) {
                      {{ element[column.field] | date:'dd/MM/yyyy HH:mm:ss' }}
                  }
                  @case(TableColumnType.IMAGE) {
                      <img [src]="element[column.field]" alt="Image" class="w-10 h-10 cursor-pointer">
                  }
                  @case(TableColumnType.FULL_TIME) {
                      {{ element[column.field] | date:'HH:mm:ss' }}
                  }
                  @case(TableColumnType.SHORT_TIME) {
                      {{ element[column.field] | date:'HH:mm' }}
                  }
                  @default {
                      {{ element[column.field] }}
                  }
              }
            } @else {
            <ng-container
              *ngTemplateOutlet="
                column.template;
                context: { item: element, column: column }
              "
            ></ng-container>
            }
          </div>
        </td>
      </ng-container>
      }

      <!-- Expanded Content Column -->
      @if(expandable && expandTemplate) {
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsWithExpand.length">
            <div class="element-detail"
              [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
              <ng-container
                *ngTemplateOutlet="expandTemplate; context: { item: element }"
              ></ng-container>
            </div>
          </td>
        </ng-container>
      }

      @if(showHeader) {
        <tr
          mat-header-row
          *matHeaderRowDef="expandable ? displayedColumnsWithExpand : displayedStringColumns; sticky: true"
          class="!h-[40px]"
        ></tr>
      }
      <tr
        mat-row
        *matRowDef="let element; columns: expandable ? displayedColumnsWithExpand : displayedStringColumns"
        class="element-row !h-[40px] hover:bg-gray-300"
        [class.expanded-row]="expandedElement === element"
      ></tr>
      @if(expandable && expandTemplate) {
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="detail-row"
        ></tr>
      }
    </table>
    } @else { 
      @for(item of dataSource; track item.id) {
        <div class="flex flex-col items-stretch justify-start gap-2 p-4 border rounded-md border-gray-400 mb-4">
          @for(column of columns; track column.field) {
            <div class="flex flex-col items-stretch justify-start gap-2 py-2 border-b border-gray-400">
              <span class="font-semibold">{{ column.name }}</span>
              @if(!column.template) {
                @switch(column.type) {
                    @case(TableColumnType.NUMBER) {
                        {{ item[column.field] | number }}
                    }
                    @case(TableColumnType.DATE) {
                        {{ item[column.field] | date:'dd/MM/yyyy' }}
                    }
                    @case(TableColumnType.DATE_TIME) {
                        {{ item[column.field] | date:'dd/MM/yyyy HH:mm:ss' }}
                    }
                    @case(TableColumnType.FULL_TIME) {
                        {{ item[column.field] | date:'HH:mm:ss' }}
                    }
                    @case(TableColumnType.SHORT_TIME) {
                        {{ item[column.field] | date:'HH:mm' }}
                    }
                    @case(TableColumnType.IMAGE) {
                        <img [src]="item[column.field]" alt="Image" class="w-10 h-10 cursor-pointer">
                    }
                    @default {
                        {{ item[column.field] }}
                    }
                }
              } @else {
              <ng-container
                *ngTemplateOutlet="
                  column.template;
                  context: { item: item, column: column }
                "
              ></ng-container>
              }
            </div>
          }
        </div>
    } }
</div>
<div class="flex items-center justify-center md:justify-end">
    <mat-paginator
      [length]="pagination.total"
      [pageSizeOptions]="[10, 20, 50]"
      [pageSize]="pagination.size"
      [pageIndex]="pagination.page"
      aria-label="Select page"
      (page)="onPageChange($event)"
    ></mat-paginator>
</div>
  
