<div class="flex-1 flex flex-col items-stretch justify-start overflow-auto gray-500-scroll gap-3">
    <div class="flex items-center justify-between px-4">
        <div class="flex-1 flex flex-col md:flex-row items-center justify-start gap-3">
            <h1 class="text-xl font-bold">Danh sách chức năng</h1>
        </div>
        <button *permission="[PermissionEnum.DEVICES_MANAGE]"
            class="p-3 flex items-center justify-center gap-2 px-3 bg-gray-400 rounded border border-gray-400"
            [matMenuTriggerFor]="menu">
            <mat-icon class="text-gray-500">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <a href="assets/files/Template_import_permission.xlsx" target="_blank"
                class="flex items-center justify-start gap-4 border-none bg-transparent px-4">
                <mat-icon class="text-gray-500">add</mat-icon>
                Tải file mẫu
            </a>
            <button class="flex items-center justify-start gap-4 border-none bg-transparent px-4"
                (click)="permissionFile.click()">
                <mat-icon class="text-gray-500">upload</mat-icon>
                Import chức năng
            </button>
        </mat-menu>
        <form [formGroup]="importPermissionForm" class="hidden">
            <input #permissionFile type="file" formControlName="permissionFile" (change)="onImportPermission($event)"
                accept=".xlsx" />
        </form>
    </div>
    <app-table
        class="flex-1 flex flex-col items-stretch justify-start overflow-auto bg-white rounded-md border border-gray-400 p-4"
        [columns]="displayedColumns" [dataSource]="dataSource" [pagination]="pagination">
    </app-table>
</div>